<header>
    <div class="logo">
        <img src="../../public/images/logo.png" />
        <h1>QUIZZING</h1>
    </div>
    <div id="overlay"></div>
    <div class="nav">
        <div class="menu menu1"><a href="/">Home</a></div>
        <div class="menu menu2"><a href="#footer">Contact US</a></div>
        <div class="menu menu3"><a href="#second">Categories</a></div>
        <% if(!isAuthenticated) {%>
            <div class="menu menu4">
                <a href="/users/login"><button class="btn">Login</button></a>
            </div>
            <% }else {%>
                <div class="menu menu4">
                    <button class="btn btn-logout" onClick="logout()">Logout</button>
                </div>
                <% } %>
    </div>
    <div class="ham">
        <img src="../../public/images/bars-solid.svg" height="60" width="60" />
    </div>
</header>



<script src="../../public/js/logout.js" defer></script>