<body style="font-family: 'Open Sans', 'serif'">
    <section class="topics" id="second">
        <div class="upper">
            <p class="first">Our Top Topics</p>
            <br />
            <hr />
            <br />
            <p class="second">
                Test your skills with our top topics with a variety of questions set for beginners and seniors alike!
            </p>
        </div>
        <div class="box">
            <div class="box-item item1">
                <i class="fa-solid fa-infinity"></i><br />DevOPS
            </div>
            <div class="box-item item2">
                <i class="fa-brands fa-html5"></i><br />HTML
            </div>
            <div class="box-item item3">
                <i class="fa-brands fa-php"></i><br />PHP
            </div>
            <div class="box-item item4">
                <i class="fa-brands fa-js"></i><br />JavaScript
            </div>
            <div class="box-item item5">
                <i class="fa-brands fa-docker"></i><br />Docker
            </div>
            <div class="box-item item6">
                <i class="fa-solid fa-dharmachakra"></i><br />Kubernetes
            </div>
            <div class="box-item item7">
                <i class="fa-solid fa-database"></i><br />MySQL
            </div>
            <div class="box-item item8">
                <i class="fa-solid fa-terminal"></i><br />Bash
            </div>
        </div>
    </section>
</body>
<script src="../../public/js/nav.js"></script>