<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login V4</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://kit.fontawesome.com/21de2f0bd7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../public/css/login.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
</head>

<body>
    <div class="limiter">
        <div class="container-login" style="background-image: url('../../public/images/bg-01.jpg')">
            <div class="wrap-login">
                <div class="user-message hidden user-message--error">
                    Invalid eamail or password
                </div>
                <form class="login-form validate-form" method="post" id="reg-form">
                    <span class="login-form-title p-b-49"> Login </span>

                    <div class="wrap-input validate-input">
                        <span class="label-input">Username</span>
                        <i class="fa-solid fa-user" id="user-icon"></i>
                        <input class="input" type="text" id="username" name="username" placeholder="Type your username" />
                        <span class="focus-input" data-symbol="&#xf206;"></span>
                    </div>

                    <div class="wrap-input validate-input">
                        <span class="label-input">Password</span>
                        <i class="fa-solid fa-key" id="password-icon"></i>
                        <input class="input" type="password" id="password" name="pass" placeholder="Type your password" />
                        <span class="focus-input" data-symbol="&#xf190;"></span>
                    </div>

                    <div class="text-right">
                        <a href="#"> Forgot password? </a>
                    </div>
                    <div class="text-right">
                        New User
                        <a href="/users/signup"><b>SignUp</b></a>
                    </div>

                    <div class="container-login-form-btn">
                        <div class="wrap-login-form-btn">
                            <div class="login-form-bgbtn"></div>
                            <button class="login-form-btn">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="../public/js/login.js"></script>
</body>

</html>