button {
    font-family: 'Nunito Sans';
}

.btnn {
    z-index: 1;
    overflow: hidden;
    background: transparent;
    position: relative;
    padding: 8px 50px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
    letter-spacing: 2px;
    transition: 0.2s ease;
    font-weight: bold;
    margin: 5px 0px;
}

.btnn.green {
    border: 4px solid var(--green);
    color: var(--blue);
}

.btnn.green:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background: var(--green);
    z-index: -1;
    transition: 0.2s ease;
}

.btnn.green:hover {
    color: var(--white);
    background: var(--green);
    transition: 0.2s ease;
}

.btnn.green:hover:before {
    width: 100%;
}